@import "./common.scss";
.mainGrid {
  margin-top: 50px;
  padding: 50px;
  .gridItem {
    display: flex;
    justify-content: center;
    .boxContent {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background: #f6f6f6;
      min-height: 100px;
      border-radius: 20px;
    }
  }
}

.selectedService {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  .search {
    margin-bottom: 20px;
  }
  .buttonsSection {
    margin-top: 50px;
  }
  .deleteButton {
    margin-left: 40px;
  }
  .typeSection {
    width: 80%;
    .name {
      border-bottom: solid;
      border-color: #b5b0b0;
      span {
        color: #877f7f;
      }
    }
    .column {
      padding: 10px;
      .action {
        font-size: small;
        display: flex;
        align-items: center;
        .actionName {
          margin-left: 5px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .checkbox {
          padding: 0px;
        }
      }
    }
  }
}
.jsonResult {
  display: flex;
  flex-direction: column;
}
